{
	admin off
}

(cloudflare) {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}
}

(grafana_proxy) {
	encode zstd gzip

	reverse_proxy http://{$APP_GRAFANA_HOST}:3000 {
		header_up Host {$APP_GRAFANA_DOMAIN}
		header_up X-Forwarded-Host {$APP_GRAFANA_DOMAIN}
		header_up X-Forwarded-Proto https
	}
}

(victoria_metrics_proxy) {
	encode zstd gzip

	reverse_proxy http://{$APP_VICTORIA_METRICS_HOST}:8428 {
		header_up Host {$APP_VICTORIA_METRICS_DOMAIN}
		header_up X-Forwarded-Host {$APP_VICTORIA_METRICS_DOMAIN}
		header_up X-Forwarded-Proto https
	}
}

(victoria_logs_proxy) {
	encode zstd gzip

	reverse_proxy http://{$APP_VICTORIA_LOGS_HOST}:9428 {
		header_up Host {$APP_VICTORIA_LOGS_DOMAIN}
		header_up X-Forwarded-Host {$APP_VICTORIA_LOGS_DOMAIN}
		header_up X-Forwarded-Proto https
	}
}

(victoria_traces_proxy) {
	encode zstd gzip

	reverse_proxy http://{$APP_VICTORIA_TRACES_HOST}:10428 {
		header_up Host {$APP_VICTORIA_TRACES_DOMAIN}
		header_up X-Forwarded-Host {$APP_VICTORIA_TRACES_DOMAIN}
		header_up X-Forwarded-Proto https
	}
}

:{$PORT:10000} {
	respond /health "ok" 200
	respond "not found" 404
}

{$APP_GRAFANA_DOMAIN} {
	import cloudflare
	import grafana_proxy
}

{$APP_VICTORIA_METRICS_DOMAIN} {
	import cloudflare
	import victoria_metrics_proxy
}

{$APP_VICTORIA_LOGS_DOMAIN} {
	import cloudflare
	import victoria_logs_proxy
}

{$APP_VICTORIA_TRACES_DOMAIN} {
	import cloudflare
	import victoria_traces_proxy
}
